* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.main-menu {
  width: 300px;
  height: 100vh;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#content-container {
  flex: 1;
  padding: 20px;
  background-color: #f9f9f9;
}
