/*
#FE0710 
#FFB801
#003B73
*/

* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.main-menu {
  width: 300px;
  height: 100vh;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

#content-container {
  flex: 1;
  padding: 20px;
  background-color: #f9f9f9;
}

ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.menu-button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  background-color: #555;
  color: white;
  border: 1px solid cornflowerblue;
  border-radius: 4px;
  cursor: pointer;
}
.menu-button:hover {
  background-color: #777;
}
#logout-button {
  margin-top: auto;
  background-color: #aa3333;
}
#logout-button:hover {
  background-color: #cc5555;
}

#maintenance-menu-list,
#process-menu-list,
#reports-menu-list {
  display: none;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
}

#maintenance-menu-list.show-menu,
#process-menu-list.show-menu,
#reports-menu-list.show-menu {
  display: flex;
}
#maintenance-deploy-button,
#process-deploy-button,
#reports-deploy-button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#maintenance-deploy-button:hover,
#process-deploy-button:hover,
#reports-deploy-button:hover {
  background-color: #777;
}
