* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-container {
  width: 400px;
  height: 600px;
  background-color: white;
  margin: auto;
  position: relative;
  border-radius: 8px;
  border: 1px solid #ccc;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  width: 100%;
  max-width: 400px;
  height: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

form h2 {
  text-align: center;
  margin-bottom: 10px;
}

.input-group {
  margin: 20px;
  display: flex;
  flex-direction: column;
}
.input-group label {
  margin-bottom: 5px;
  font-weight: bold;
}
.input-group input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
button {
  width: calc(100% - 40px);
  margin: 20px;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: #45a049;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 200px;
  margin-top: 50px;
}
